<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">


</head>
<body>

<section class="vh-100 mx-auto">
  <div class="container-fluid h-custom">
  
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      
      <!-- form  -->
        <form>
       
			<!-- divider -->
         <div class="divider d-flex align-items-center my-4">
          </div>
          
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="이메일 주소를 입력해주세요 " />
            <label class="form-label" for="form3Example3">이메일  </label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="비밀번호를 입력해주세요" />
            <label class="form-label" for="form3Example4">비밀번호 </label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
             <!-- Checkbox --> 
            
            <div class="form-check mb-3">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            
          </div>
            <a class="small mt-2 pt-1 mb-0">비밀번호 재설정 시 개발팀에 연락 바랍니다  </a>
            
			<div class="m-5 p-5">
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem; ">Login</button>
          </div>
          </div>
              <div class="m-5">
            <p class="small fw-bold mt-2 pt-1 mb-0">관리자 계정이 없으신가요? <a href="/LearningMate/signinV"
                class="link-danger">계정 등록하기 </a></p>
              </div>
        </form>
        <!-- form  -->
      </div>
    </div>
  </div>

</section>


</body>
</html>