<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!--jquery -->
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    body {
      min-height: 100vh;
      background: -webkit-gradient(linear, left bottom, right top, from(#e4ecf5), to(#1d466c));
      background: -webkit-linear-gradient(bottom left,  #e4ecf5 0%, #1d466c 100%);
      background: -moz-linear-gradient(bottom left,  #e4ecf5 0%, #1d466c 100%);
      background: -o-linear-gradient(bottom left,  #e4ecf5 0%, #1d466c 100%);
      background: linear-gradient(to top right, #e4ecf5 0%, #1d466c 100%);
    }

    .input-form {
      max-width: 680px;
      margin-top: 90px;
      margin-bottom: 30px;
      padding: 46px;
      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 15px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.20)
    }
  </style>
  
</head>

<body>

  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <h2 class="mb-3">회원가입</h2>
        <form class="validation-form" novalidate>
          <div class="row">
          <!-- name -->
            <div class="col-md-6 mb-3">
              <label for="name">* 이름</label>
              <input type="text" class="form-control" id="name" placeholder="" value="" required>
              <!--invalid  -->
              <div class="invalid-feedback">
                이름을 입력해주세요.
              </div>
              <!--valid  -->
              <div class="valid-feedback">
 				이름이 확인되었습니다.
               </div>
            </div>
            
            <!-- 성별  -->
            <div class="col-md-6 mb-3">
              <label for="name">* 성별 </label><br>
              <div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" required>
			  <label class="form-check-label" for="inlineRadio1">남  </label>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" required>
			  <label class="form-check-label" for="inlineRadio2">여  </label>
			</div>
            </div>
            <!--  사원번호  -->
             <div class="row">
            <div class="col-md-8 mb-3">
              <label for="root">사원번호</label>
       
              <select class="custom-select d-block w-100" id="root" >

               <option value="1">AA101</option>
   					  <option value="2">AB202</option>
				      <option value="3">AC303</option>
				      <option value="4">AD404</option>
				      <option value="5">AE505</option>
              </select>
              
            </div>
            
          </div>

          <div class="mb-3">
            <label for="email">* 이메일</label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
            <div class="invalid-feedback">
              이메일을 입력해주세요.
            </div>
             <!--valid  -->
              <div class="valid-feedback">
 				이메일이 확인되었습니다.
               </div>
          </div>
          
          
          <div class="mb-3">
            <label for="password">* 비밀번호</label>
            <input type="password" class="form-control" id="password" placeholder="" required>
            <div class="invalid-feedback">
             비밀번호를 입력해주세요.
            </div>
          </div>
          <div class="mb-3">
            <label for="password">* 비밀번호 확인 </label>
            <input type="password" class="form-control" id="password ck" placeholder="" required>
            <div class="invalid-feedback">
              비밀번호를 확인해주세요.
            </div>
          </div>

          <div class="mb-3">
            <label for="address">* 주소</label>
            <input type="text" class="form-control" id="address" placeholder="서울특별시 강남구" required>
            <div class="invalid-feedback">
              주소를 확인해주세요.
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">상세주소
            </label>
            <input type="text" class="form-control" id="address2" placeholder="상세주소를 입력해주세요.">
          </div>

            
          </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="aggrement" required>
            <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
          </div>
          <div class="mb-4"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
        </form>
      </div>
    </div>
    <footer class="my-3 text-center text-small">
      <p class="mb-1">&copy; 2022 LearningMate</p>
    </footer>
  </div>
  <script>
    window.addEventListener('load', () => {
      const forms = document.getElementsByClassName('validation-form');

      Array.prototype.filter.call(forms, (form) => {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  </script>
</body>
</html>